/*Start page*/

*{
    background-color: #3c3c3c;
    font-family: "Pangolin", serif;
    font-weight: 400;
    font-style: normal;
    color: beige;
}

.heading, .result-page {
    font-size: 1em;
}

.foot{
    font-size: 1em;
}

.intro{
    font-size: 1.5em;
}

.center a{
    margin-top: 10px;
}

.start-page, .quiz-container, .center  {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center 
}

.result-page{
    text-align: center 
}

.image-container {
    align-items: center;    
}

.result-image{
    width: 100vh;
}

.image-container img{
    width: 300px; 
}

.choices {
    padding: 0;
    border: none;
    background: none;
}

.begin-button {
    padding: 0;
    border: none;
    background: none;
    opacity: 60%;
}

.begin-button img{
    width: 200px;
    height: 140px;
}

.begin-button:hover {
    opacity: 100%;
    cursor: pointer;
}

.choices {
    display: block;
    width: 80%;
    font-size: 20px;
    max-width: 600px;
    padding: 10px 20px;
    margin: 10px auto;
    background-color: #f7e6dd;
    color: black;
    border-radius: 5px;
}

.choices:hover {
    background: #676767;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100vh;
}

.quiz-container p {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    max-width: 600px;
}
